@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap');

*{
  font-family: 'Sour Gummy', cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
 

}
body{
  /* background: #f9f4ee;  */
  /* background: linear-gradient(to bottom, #ffffff, #f5efe7); */
  background: #f5efe7;
  /* color: black; */
  /* font-family: "Poppins", sans-serif; */
  background-image: radial-gradient(circle, rgba(219, 218, 218, 0.497) 2px, transparent 1px);
  background-size: 20px 20px;
}