@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap');

*{
  font-family: 'Sour Gummy', cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
 

}
body{
 background-color: rgba(255, 255, 255, 0.603);
}